.portfolio-popup{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    overflow: auto;
}
.pp-inner{
    min-height: 100vh;
    padding: 40px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pp-content{
    background-color: var(--white-alpha-25);
    padding: 30px;
    border-radius: 30px;
    max-width: 900px;
    width: 100%;
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter-blur);
    /* opacity: 0;
    transform: scale(0.9); */
}
.pp-header{
    position: relative;
}
.pp-header .btn{
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -40px;
    top: -40px;
}
.pp-close{
    font-size: 1em;

}
.pp-thumbnail img{
    border-radius: 10px;
}
.pp-header h3{
    font-size: 25px;
    text-transform: capitalize;
    margin: 20px 0 15px;
}
.pp-body .description{
    margin-bottom: 20px;
}
.general-info ul{
    list-style: none;
}
.pp-body .general-info li{
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: capitalize;
}
.pp-body .general-info li span{
    font-weight: 300;
}
.pp-body .general-info li a{
    text-transform: lowercase;
    color: var(--main-color);
}