a{
    text-decoration: none;
}
.p{
    font-family: 'Poppins', sans-serif;
}
.p.dark{
   color: var(--white);
}
.h1,.h2{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.h1.dark,.h2.dark{
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    
}
h3,h4,h5,h6{
    font-weight: 500;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
section{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: calc(100vh - 70px);
    border-radius: 30px;
    backdrop-filter: var(--backdrop-filter-blur);
}
.main{
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    position: relative;
}
.main.fade-out{
    opacity: 0;
}
.container{
    padding: 0 40px;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-item-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.row-spinner{
    height: 100vh;
}

/* custom Scrollbar */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
button{
    font-family: inherit;
    user-select: none;
}


/* Buttons */
.btn{
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    border: 1pz solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}
.btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
}
.btn:hover::before{
    width: 100%;
}
.btn:hover{
    color: var(--white);
}
.btn, .btn-dark{
    display: inline-block;
}

.btn.dark{
    background-color: var(--green-dark);
    color: var(--white);
    transition: 0.4s all ease-in;
}

/* --------------
Home 
-----------------*/
.home-section{
    display: flex;
    padding: 120px 0;
}
.home-text,
.home-img{
    width: 50%;
    padding: 15px;
}
.home-text p{
    font-size: 18px;
}
.home-text h1{
    font-size: 50px;
    text-transform:capitalize;
}
.home-text h2{
    font-size: 20px;
    text-transform:capitalize;
    font-weight: 300;
    margin: 0 0 30px;
}
.home-text .btn{
    margin: 0 15px 15px 0;
}
.home-img .img-box{
    max-width: 360px;
    background-color: var(--white-alpha-25);
    border-radius: 50%;
    border: 8px solid var(--white-alpha-25);
    margin: auto;
}
.home-img .img-box.dark{
    border: 8px solid var(--green-dark);
    
}
.home-img .img-box img{
    width: 100%;
    border-radius: 50%;
    transition: 0.4s all ease-in;
}
.home-img .img-box-dark img{
    width: 100%;
    border-radius: 50%;
    
}

/* Responsive */
@media(max-width:991px){
    .container{
        padding: 0;
    }
    .home-text,
    .home-img{
        width: 100%;
    }
    .home-text{
        text-align: center;
    }
    .home-img{
        order: -1;
    }
    .home-img .img-box{
        max-width: 300px;
    }
    .home-text .btn{
        margin: 0 7px 15px;
    }
}

@media(max-width:575px){
    .home-text h1{
        font-size: 30px;
    }
    .home-text h2{
        font-size: 18px;
    }
}